In [1]:
from ipynb.fs.full.Flask_Database_Basic_82_83 import db, Puppy

In [2]:
db.create_all()

In [3]:
##create a new entry

my_puppy = Puppy(name = 'Rufus', age = 20)

In [4]:
print(my_puppy)

Rufus is 20 year/s old

In [5]:
db.session.add(my_puppy)

In [6]:
db.session.commit()

In [7]:
print(my_puppy.id)

1

In [8]:
print(Puppy(name = 'Rufus', age = 20).id)

None

In [9]:
db.session.add(Puppy(name='Ritish', age=30))
db.session.commit()

In [10]:
##read a database

#returns list of puppies objects in the table
all_puppy = Puppy.query.all()

In [11]:
print(all_puppy)

[Rufus is 20 year/s old, Ritish is 30 year/s old]

In [12]:
puppy_one = Puppy.query.get(ident=1)

In [13]:
print(puppy_one)

Rufus is 20 year/s old

In [14]:
puppy_one.id

1

In [15]:
Puppy.query.count()

2

In [16]:
## Filter a Database

puppy_Frankie = Puppy.query.filter_by(name = 'Rufus')

In [17]:
type(puppy_Frankie)

flask_sqlalchemy.BaseQuery

In [18]:
puppy_Frankie.all()

[Rufus is 20 year/s old]

In [19]:
puppy_Frankie.count()

1

In [20]:
puppy_Frankie.first()

Rufus is 20 year/s old

In [21]:
puppy_Frankie.first().id

1

In [23]:
puppy_Frankie.all()[0].id

1

In [24]:
##Updating a Database

puppy_one = Puppy.query.get(ident=1)

In [25]:
type(puppy_one)

ipynb.fs.full.Flask_Database_Basic_82_83.Puppy

In [26]:
puppy_one.age = 10

In [27]:
db.session.add(puppy_one)

In [28]:
Puppy.query.filter_by(id = 1).all()

[Rufus is 10 year/s old]

In [29]:
Puppy.query.get(ident=1)

Rufus is 10 year/s old

In [86]:
Puppy.query.all()

[Rufus is 10 year/s old, Rufus is 20 year/s old, Rufus is 20 year/s old]

In [30]:
Puppy.query.all()

[Rufus is 10 year/s old, Ritish is 30 year/s old]

In [87]:
#db.session.commit()

In [31]:
##Deleting

In [32]:
puppy2 = Puppy.query.get(ident = 2)

In [33]:
puppy2

Ritish is 30 year/s old

In [34]:
Puppy.query.all()

[Rufus is 10 year/s old, Ritish is 30 year/s old]

In [39]:
db.session.add(Puppy(name='Jon', age=25))

In [41]:
Puppy.query.all()

[Rufus is 10 year/s old, Ritish is 30 year/s old, Jon is 25 year/s old]

In [42]:
db.session.commit()

In [43]:
Puppy.query.all()

[Rufus is 10 year/s old, Ritish is 30 year/s old, Jon is 25 year/s old]

In [50]:
#deleting through the query.get command
db.session.delete(Puppy.query.get(ident=1))

In [51]:
Puppy.query.all()

[Ritish is 30 year/s old, Jon is 25 year/s old]

In [52]:
db.session.commit()

In [53]:
Puppy.query.all()

[Ritish is 30 year/s old, Jon is 25 year/s old]

In [54]:
# deleting through the query.filterby command
db.session.delete(Puppy.query.filter_by(name='Jon')[0])

In [55]:
Puppy.query.all()

[Ritish is 30 year/s old]

In [56]:
db.session.commit()