In [1]:
from ipynb.fs.full.Flask_Database_Basic_82_83 import Puppy, db

In [2]:
# Creating all the Tables Model --> Db Table 
db.create_all()

In [3]:
sam = Puppy(name = 'Sammy', age = 3)
frank = Puppy(name = 'Frankie', age = 4)

In [4]:
print(sam.id)
print(frank.id)

None
None

In [5]:
db.session.add_all([sam, frank])

In [6]:
db.session.commit()

In [8]:
print(sam.id)
print(frank.id)

1
2